<div class="container">
	<h3>注文情報入力</h3>

	<%= form_for(@order, url:'/orders/confirm') do |f| %>

	<div>支払方法</div>
	<label>クレジットカード</label>
	<%= f.radio_button :payment_method, 0 %>
	<label>銀行振込</label>
	<%= f.radio_button :payment_method, 1 %>

	<div>お届け先</div>
	<label>
		<%=radio_button_tag :address,0 %>ご自身の住所
	</label>
	<%= current_end_user.post_code %>
	<%= current_end_user.address %>
	<%= current_end_user.last_name %>

</br>

<label>
	<%= radio_button_tag :address, 1 %>登録済み住所から選択
</label>
<%= select_tag 'address_id',options_from_collection_for_select(Address.all, :id, :total_address) %>

</br>

<label>新しいお届け先</label>
<%= radio_button_tag :address, 2 %>

<div class="new-address">
	郵便番号 <%= f.text_field :post_code %></br>
	住所 <%= f.text_field :address %></br>
	宛先 <%= f.text_field :destination %>
</div>
</br>
<%= f.submit "確認画面へ進む" %>


<% end %>


</div>